<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Request</title>
    <style type="text/css">
        input {font-size: 30px}
        button {font-size: 30px}
    </style>
</head>
<body style="background-color: #e6e6ff">
    <div>
        <form action = "{{ url_for('process_request') }}" method="POST">
            <input type="text" name="req_id" placeholder="request_id"><br><br>
            <button>Process</button>
        </form>
    </div>
</body>
</html>